<div class="mt-3 mb-2">
    <div class="float-start"> 
        <!-- <a routerLink="/start/create-autoecole" class="btn btn-lg btn-primary"><i class="bi bi-arrow-left"> Retour</i></a> -->
        <button type="reset" (click)="closeModal()" mat-raised-button class="btn btn-lg btn-danger"> <i class="fa fa-close"></i>{{textAnnuler}}</button>
    </div>
    <div class="float-end">
        <button type="submit" (click)="validModal()" mat-raised-button class="btn btn-lg btn-success"><i class="fa fa-save"></i>{{textValider}} </button>
    </div>
</div>  