<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Liste des étudiants non inscrit</h5>
    </div>
    <div class="card-body">
        <div class="row">
          <div class="col-12">
            <mat-form-field >
              <mat-label>Nom</mat-label>
              <input type="text" matInput  (keyup)="applyFilter($event)" placeholder="Ex. metou" #input />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
        </div>
                  
          <div class="mat-elevation-z8">
            <div class="row">
              <div class="col-12">
                <table mat-table [dataSource]="dataSource" matSort> 
          
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)"
                                    [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                    </td>
                </ng-container>
                    
                  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
    
                    <ng-container matColumnDef="Nom & Prenom">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom & Prenom </th>
                        <td mat-cell *matCellDef="let etudiant">{{etudiant.getFullName()}}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="Tel">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tel </th>
                      <td mat-cell *matCellDef="let etudiant">{{etudiant.tel}}</td>
                  </ng-container>
    
                  <ng-container matColumnDef="Email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                    <td mat-cell *matCellDef="let etudiant">{{etudiant.email}}</td>
                    <!-- <td mat-footer-cell *matFooterCellDef>Ok </td> -->
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="selection.toggle(row)">
                </tr>

                <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns" ></tr> -->
              
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    
                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                  </tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>
            </div>
          </div>
    </div>
    <div class="card-footer">
        <app-btn-gestion-etudiants></app-btn-gestion-etudiants>
    </div>
</div>