<app-header-modal text="Suppression des comptes étudiants" bgColor="#f44336"  icon="./../../../../../assets/img_icon/remove_student.png"></app-header-modal>
<div class="container d-flex flex-column">    
    <div class="row">        
        <div class="col-12 mx-auto d-table">
            <div class="d-table-cell align-middle">
                <div>
                    <div class="text-center">
                        <img src="./../../../../../assets/img/logo.png" alt="" class="img-fluid rounded-circle" width="132" height="132" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer-modal></app-footer-modal>