<div class="row">
    <div class="col-md-12 col-xl-12">
        <div class="list-group-flush" >
            <div class="card list-group list-group-horizontal" role="tablist">
                <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#inscrit" role="tab">
                    Etudiant inscrit
                </a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#noninscrit" role="tab">
                    Etudiants non inscrit
                </a>
            </div>
        </div>    
        
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-xl-12">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="inscrit" role="tabpanel">
                <app-etudiants-inscris-list></app-etudiants-inscris-list>
            </div>
            <div class="tab-pane fade" id="noninscrit" role="tabpanel">
                <app-etudiants-noninscris-list></app-etudiants-noninscris-list>
            </div>
        </div>
    </div>
</div>