.host
{
    width: 100%;
    color: #fff;
}

img
{
    filter: invert(100%); 
    -webkit-filter:invert(100%); 
    vertical-align: middle;
    width: 40px;
    margin: 5px;
}

h1.h2
{
    margin: 6px;
}
