<div class="host" 
    style="background-color: {{bgColor}};
    border-color: {{bgColor}}; "
    >
    <div class="mt-1">
        <div class="row justify-content-center">
            <div class="col-2 "><img class="text-white" [src]="icon"></div>
            <div class="col-10"><h1 class="h2 text-white">{{text}}</h1> </div>
        </div>                 
    </div>
    <div>
</div>