<div class="row">
    <div class="col-md-3 col-xl-2">
        <div class="list-group-flush" >
            <div class="card list-group" role="tablist">
                <div class="card-header">
                    <h5 class="card-title mb-0">Réglage du compte</h5>
                </div>
                <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#account" role="tab">
                    Compte
                </a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#password" role="tab">
                    Mot de passe
                </a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab">
                    Sécurité et confidentialité
                </a>                
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab">
                    Suppression du compte
                </a>
            </div>

            <div class="card list-group" role="tablist">
                <div class="card-header">
                    <h5 class="card-title mb-0">Administration</h5>
                </div>
    
                <!-- <div class="list-group list-group-flush" role="tablist"> -->
                    <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#utilisateurs" role="tab">
                        Etudiants
                    </a>
                    <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#utilisateurs" role="tab">
                        Formateurs
                    </a>
                    <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab">
                        Cours
                    </a>
                    <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab">
                        Sessions
                    </a>
                    <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab">
                        License
                    </a>
                <!-- </div> -->
            </div>
        </div>

        
        
    </div>
    <div class="col-md-9 col-xl-10">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="account" role="tabpanel">
                <!-- <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Public info</h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="mb-3">
                                        <label class="form-label" for="inputUsername">Username</label>
                                        <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="inputUsername">Biography</label>
                                        <textarea rows="2" class="form-control" id="inputBio" placeholder="Tell something about yourself"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-center">
                                        <img alt="Charles Hall" src="img/avatars/avatar.jpg" class="rounded-circle img-responsive mt-2" width="128" height="128" />
                                        <div class="mt-2">
                                            <span class="btn btn-primary">Upload</span>
                                        </div>
                                        <small>For best results, use an image at least 128px by 128px in .jpg format</small>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </form>
                    </div>
                </div> -->

                <div class="card">
                    <app-setting-user-profil [user]="user"></app-setting-user-profil>
                </div>
            </div>
            <div class="tab-pane fade" id="password" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Password</h5>
                        <form>
                            <div class="mb-3">
                                <label class="form-label" for="inputPasswordCurrent">Current password</label>
                                <input type="password" class="form-control" id="inputPasswordCurrent">
                                <small><a href="#">Forgot your password?</a></small>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="inputPasswordNew">New password</label>
                                <input type="password" class="form-control" id="inputPasswordNew">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="inputPasswordNew2">Verify password</label>
                                <input type="password" class="form-control" id="inputPasswordNew2">
                            </div>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="utilisateurs" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Utilisateurs</h5>
                        <app-setting-users></app-setting-users>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>