<app-header-modal text="Enregistrement nouveau étudiant" icon="./../../../../../assets/img_icon/add_student.png"></app-header-modal>
<div class="container d-flex flex-column">    
    <div class="row">        
        <div class="col-12 mx-auto d-table">
            <div class="d-table-cell align-middle">
                <div>
                    <div class="text-center">
                        <img src="./../../../../../assets/img/logo.png" alt="" class="img-fluid rounded-circle" width="132" height="132" />
                    </div>
                    <form [formGroup]="form" (ngSubmit)="submitForm()">
                        <div class="mb-3 mt-1">
                           <div class="row">
                               <div class="col-6">
                                    <label class="form-label">Nom</label>
                                    <input class="form-control form-control-lg" [ngClass]="{ 'is-invalid': submitedForm && form.controls.nom_etudiant.errors }" formControlName="nom_etudiant" type="text" name="nom_etudiant" placeholder="Nom Etudiant" />
                                    <div *ngIf="submitedForm && form.controls.nom_etudiant.invalid"
                                        class="invalid-feedback text-danger">
                                        <div *ngIf="form.controls.nom_etudiant.errors.required">Le nom du compte etudiant est obligatoire</div>
                                        <div *ngIf="form.controls.nom_etudiant.errors.minlength">La taile du nom de compte etudiant doit avoir au minimum 2 charactéres</div>
                                    </div>
                               </div>
                               <div class="col-6">
                                    <label class="form-label">Prenom</label>
                                    <input class="form-control form-control-lg" [ngClass]="{ 'is-invalid': submitedForm && form.controls.prenom_etudiant.errors }" formControlName="prenom_etudiant" type="text" name="prenom_etudiant" placeholder="Prenom Etudiant" />
                                    <div *ngIf="submitedForm && form.controls.prenom_admin.invalid"
                                        class="invalid-feedback text-danger">
                                        <div *ngIf="form.controls.prenom_etudiant.errors.required">Le prenom du compte etudiant obligatoire</div>
                                        <div *ngIf="form.controls.prenom_etudiant.errors.minlength">Le prenom du compte etudiant doit avoire au minimum 6 charactéres</div>
                                    </div>
                               </div>
                           </div>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-6 col-sm-10">
                                    <label class="form-label">Email</label> 
                                    <input class="form-control form-control-lg" [ngClass]="{ 'is-invalid': submitedForm && form.controls.email_etudiant.errors }" formControlName="email_etudiant" type="email" name="email" placeholder="Email Etudiant" />
                                    <div *ngIf="submitedForm && form.controls.email_etudiant.errors" class="invalid-feedback text-danger">
                                        <div *ngIf="form.controls.email_etudiant.errors.required">L'email du compte étudiant est obligatoire</div>
                                        <div *ngIf="form.controls.email_etudiant.errors.pattern">L'email du compte étudiant doit respecter le format demandé <br> Example: etudiant@example.com</div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-10">
                                    <label class="form-label">Tél</label>
                                    <!-- <input class="" [ngClass]="{ 'is-invalid': submitedForm && form.controls.tel_admin.errors }"/> -->
                                    <app-input-type-number formControlName="tel_etudiant" [cssClass]="{ 'is-invalid': submitedForm && form.controls.tel_etudiant.errors ,'form-control':true, 'form-control-lg':true}"></app-input-type-number>                                    
                                    <div *ngIf="submitedForm && form.controls.tel_etudiant.errors"
                                        class="invalid-feedback text-danger">
                                        <div *ngIf="form.controls.tel_etudiant.errors.required">Le numéro de téléphone du compte étudiant est obligatoire</div>
                                        <div *ngIf="form.controls.tel_etudiant.errors.pattern">Le numéro de téléphone du compte étudiant doit respecter le format demandé <br> Example: +237 698 29 53 68</div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-6 col-sm-10">
                                    <label class="form-label">Mot de passe</label>
                                    <input class="form-control form-control-lg" [ngClass]="{ 'is-invalid': submitedForm && form.controls.password_etudiant.errors }" formControlName="password_etudiant" type="password" name="password" placeholder="mot de passe" />
                                    <div *ngIf="submitedForm && form.controls.password_etudiant.errors"
                                        class="invalid-feedback text-danger">
                                        <div *ngIf="form.controls.password_etudiant.errors.required">Le mot de passe de l'administrateur est obligatoire</div>
                                        <div *ngIf="form.controls.password_etudiant.errors.minlength">Le mote de passe de l'administrateur doit avoir au moins 6 charactéres</div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-10">
                                    
                                </div>
                            </div>
                            
                        </div>                               
                                          
                            
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>