<table mat-table [dataSource]="dataSource" matSort>
    <ng-content></ng-content>  
    <ng-container *ngFor="let column of columnHeaders;let i = index">
        <ng-container matColumnDef="{{column}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
            <td mat-cell *matCellDef="let row"> {{eval("row."+columnContent[i],row)}} </td>
          </ng-container>
    </ng-container>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </table>