<div class="row" >
    <div class="col-4" [@hideShow]="showMultiUserActionBtn ? 'hide' : 'show' ">
        <div class="row">
            <div class="col-3 justify-content-center">
                <button mat-raised-button color="primary" (click)="showAddStudentUI()"  aria-label="Inscrire">
                    <img src="./../../../../../assets/img_icon/add_student.png">
                    Nouveau
                </button>
            </div>
        </div>
    </div>
    <div class="col-8" [@hideShow]="showMultiUserActionBtn ? 'show' : 'hide' ">
        <div class="row">
            <div class="col-4 justify-content-center">
                <button (click)="showInscriptionUI()" mat-raised-button class="btn-success text-white" aria-label="Inscrire">
                    <img src="./../../../../../assets/img_icon/add_student.png">
                    Inscrire
                </button>
            </div>
            <div class="col-4 justify-content-center">
                <button (click)="showDeactivationUI()" mat-raised-button color="accent" class="btn-desactiver-account" aria-label="Désactiver le compte">
                    <img src="./../../../../../assets/img_icon/block_student.png">
                    Désactiver
                </button>
            </div>
            <div class="col-4 justify-content-center">
                <button (click)="showDeleteAccountUI()" mat-raised-button color="warn" aria-label="Supprimer le compte">
                    <img src="./../../../../../assets/img_icon/remove_student.png">
                    Supprimer
                </button>
            </div>
        </div>
    </div>
</div>